<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--System Configs-->
    <add key="shellCommads" value="./Grammar/shellCommands.xml" />
    <add key="grammar" value="./Grammar/grammar.xml" />
    <add key="grammarPOS" value="./Grammar/grammarPartsOfSpeech.xml" />
    <add key="languageModel" value="Grammar/LanguageModel/EnglishPOS.nbin"/>
    <!--Application Paths-->
    <add key="steam" value="D:/Steam/Steam.exe" />
    <add key="uplay" value="D:/Ubisoft/Ubisoft Game Launcher/Uplay.exe" />
    <add key="origin" value="D:/Origin/Origin.exe" />
    <add key="explorer" value="explorer.exe" />
  </appSettings>
</configuration>