<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--System Configs-->
    <add key="shellCommads" value="../../Grammar/_shellCommands.xml" />
    <add key="grammar" value="../../Grammar/_grammarRoot.xml" />
    <add key="languageModel" value="../../Grammar/LanguageModel/EnglishPOS.nbin"/>
     <add key="resourcesFolder" value="../../Resources"/>
    <!--Application Paths-->
    <add key="ccleaner" value="C:/Program Files/CCleaner/CCleaner.exe" />
    <add key="steam" value="D:/Steam/Steam.exe" />
    <add key="uplay" value="D:/Ubisoft/Ubisoft Game Launcher/Uplay.exe" />
    <add key="origin" value="D:/Origin/Origin.exe" />
    <add key="explorer" value="explorer.exe" />
    <add key="googleSearch" value="https://www.google.com/search?q=" />
    <add key="youtubeSearch" value="  https://www.youtube.com/results?search_query=" />
    <!--Service Configs-->
    <add key="location" value="Cape Town"/>  
    <add key="openWeatherURL" value="http://api.openweathermap.org/data/2.5/weather?q="/>
    <add key="openWeatherAPIKey" value="57321ae0d0844a5361fb11b1e07a8dc0"/>
  </appSettings>
</configuration>